.empty-state {
  padding: 3rem 1.5rem;

  .empty-state-icon {
    opacity: 0.5;
  }

  .empty-state-title {
    font-weight: 600;
    color: var(--bs-gray-700);
  }

  .empty-state-text {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}